# gradle
.gradle/
build/
out/
classes/

# IDEs
.idea/
*.iml
*.ipr
*.iws
.settings/
.vscode/
bin/
.classpath
.project

# OS
*.DS_Store

# Fabric
run/
logs/
*.jar

# Java
hs_err_*.log
replay_*.log
*.hprof
*.jfr

# Editor temp files
*~
*.swp
